    @model IEnumerable<ProyectoRefri.Models.ProductoModel>

<link href="~/css/site.css" rel="stylesheet" />

@{
    ViewData["Title"] = "ListarCliente";
}


    <div class="contenedorimg">
        <h2>PRODUCTOS</h2>
    </div>
    <div class="container">

    <!--INPUT BUSCAR-->
        <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Buscar Producto" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
        </div>

    </div>

<div class="container">
    <div class="listaProductos">
        <!-- AQUI VA EL FOR PARA REPETIR ESTA CARTA -->
        @foreach (var item in Model)
        {

        <div class="card" style="flex-direction: row;">

                <img src="@Url.Content(String.Format("~/img/{0}.jpg",item.idProducto))"class="card-img-top cuadrado" alt ="Imagen no disponible">
            <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.idProducto) | @Html.DisplayFor(modelItem => item.nombre)</h5>
                    <p class="card-text">Cantidad: @Html.DisplayFor(modelItem => item.descripcion)</p>
                    <p class="card-text">
                        Precio:
                        @Html.DisplayFor(modelItem => item.precio)
                    </p>
                    <p class="card-text">Unidades disponibles: 
                        @Html.DisplayFor(modelItem => item.stock)</p>


                    <a href="@Url.Action("ListadoRefri", "Refri", new { id = item.idProducto }) " class="btn btn-primary")">Ver Detalles</a>
                <a href="#" class="btn btn-success">Comprar</a>
            </div>
        </div>
        }
       
    </div>
</div>



