@model IEnumerable<ProyectoRefri.Models.ProductoModel>
@{
    ViewData["Title"] = "ListarAdmin";
}
<div>
    <div class="contenedorimgRec">
        <div>
            <br><br><br>
            <h2>ASI COMO<br>EN CASA,<br>ASI ES... </h2>
        </div>
        <div class="contCirculos">
            <div class="circulo uno">
            </div>
            <div class="circulo dos">
                <p class="mt-5">¡Descubre nuevas <br>recetas, añade las tuyas <br>y comparte tu pasión por<br> la cocina<br> con el mundo!</p>
                <a href="#" class="btn btn-success">Crear Receta</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
<h1 class="my-3">Listado Productos</h1>

<p>
    <a class="btn btn-primary" asp-action="Registrar">Nuevo Producto</a>
</p>
<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <!--CICLO PARA LISTAR-->
            @foreach (var item in Model){
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            
            <td>
                        @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                        @Html.ActionLink("Modificar", "Modificar", new { id=item.idProducto }, new { @class = "btn btn-warning" })
          
            </td>
        </tr>
       }
    </tbody>
</table>
</div>